# Copy this file to .env and fill in the values

DJANGO_SECRET_KEY='django-insecure-bko0r!gj^#a&1lefs01+n^lkfbd0_zet5p^8*7wx#w8_twxy04'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost
FRONTEND_HOST=http://localhost:5173

POSTGRES_DB=threeddocs
POSTGRES_USER=threeddocs
POSTGRES_PASSWORD=change-me-in-production
POSTGRES_HOST=100.64.0.1
POSTGRES_PORT=5666

GOOGLE_CLIENT_ID=example.apps.googleusercontent.com

EMAIL_PASSWORD=****************
EMAIL_HOST_USER=example@gmail.com