# Copy this file to .env and fill in the values

DJANGO_SECRET_KEY='django-insecure-bko0r!gj^#a&1lefs01+n^lkfbd0_zet5p^8*7wx#w8_twxy04'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,51.38.71.25,www.threedocsy.pl,threedocsy.pl,www.api.threedocsy.pl,api.threedocsy.pl
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://51.38.71.25:5555,https://threedocsy.pl,http://threedocsy.pl,https://www.threedocsy.pl,http://www.threedocsy.pl
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://51.38.71.25:5555,https://threedocsy.pl,http://threedocsy.pl,https://www.threedocsy.pl,http://www.threedocsy.pl

POSTGRES_DB=threeddocs
POSTGRES_USER=threeddocs
POSTGRES_PASSWORD=change-me-in-production
POSTGRES_HOST=100.64.0.1
POSTGRES_PORT=5666

GOOGLE_CLIENT_ID=example.apps.googleusercontent.com

EMAIL_PASSWORD=****************
EMAIL_HOST_USER=example@gmail.com